/* GENERALES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Helvetica, Arial;
}

.clearfix { /*Lo de abajo no se monte con lo de arriba, etiquetas header, main y footer*/
    clear:both;
    float: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-size: 62.5%;
    
}

body {
    background: url('../img/cubes.png') #f4f4f4;
}

/* HEADER */

.site-header {
    font-size: 1.6rem;
    width: 85vw;
    height: auto;
    background: transparent;
    margin: 0 auto;
    /* border: 1px solid gray; */
}

/* LOGOTIPO */
.header-logo {
    float: left;
    width: 540px;
    height: 110px;
}

.header-logo a {
    font-family: 'Fjalla One', Helvetica;
    font-size: 40px;
    letter-spacing: 2px;
    color: #2979CD;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black; /*sombre a los textos*/
    transition: all 500ms;
    line-height: 90px;
    padding-left: 10px;
}

.header-logo a:hover { /*efecto del logo*/
    cursor: pointer;
    text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;
}

/* MENU  */

.header-nav {
    clear: both;
    width: 100%;
    height: 45px;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #ccc;
    overflow: hidden;
}

.nav-menu__items{
    float: left;
    line-height: 44px;
    border-right: 1px solid #D6D6D6;
}

.nav-menu__items a {
    display: block;
    padding: 0px 10px;
    font-size: 1.5rem;
    color: #838282;
}

.nav-menu__items:hover{
    background: linear-gradient(to bottom, #f2f2f2 0px, #dad9d4 100%);
}

.site-main {
    font-size: 1.6rem;
    width: 85vw;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* SIDEBAR */

.main-sidebar {
    float: right;
    width: 27%;
    height: auto;
}

.block-aside {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 35px;
    background: white;
    padding: 15px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3),0 3px 7px rgba(0, 0, 0, .3), 0 0 1px #FFFFFF inset, 0 -3px 2px rgba(0, 0, 0, .25) inset;
}

.block-aside h3 {
    margin-bottom: 15px;
}

label, 
input[type="text"], 
input[type="email"], 
input[type="password"] {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
}

input[type="button"], 
input[type="submit"] {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 2px;
    color: white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor: pointer;
    padding: 7px;
}

/* PRINCIPAL */
.main-principal {
    float: left;
    width: 70%;
    min-height: 59.5rem;
    background: white;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem #ccc;
    margin-left: 20px;
    padding: 20px;
    overflow: hidden;
}

.main-principal a{
        color: #333;
}

.main-principal h1 {
    font-size: 32px;
    color: #444;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
    font-family: 'Fjalla One', Helvetica;
}

.main-principal h2 {
    font-size: 2rem;
    color: #2979CD;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;
    font-family: 'Fjalla One', Helvetica;
    margin-top: 25px;
}

.main-principal p {
    margin-top: 8px;
}


.view-all a{
    display: block;
    border-radius: 2px;
    padding: 15px;
    color: white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor: pointer;
    width: 18rem;
    margin: 0 auto;
    margin-top: 5rem;
}

/* FOOTER */

.site-footer {
    font-size: 1.6rem;
    clear: both;
    width: 85%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
    border: 1px solid #c9c9c9;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    color: #666;
    height: auto;
    padding: 15px;
    text-align: center;
}